.App {
  padding: 40px;
  display: flex;
  flex-direction: column;
}

.App li {
    list-style-type: none;
}

.App-catchphrase {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    color: indianred;
  width: 350px;
  transform: rotate(-14deg);
}
